.login-container{
    width: 25%;
    margin: auto;
    padding: 30px;
    border-radius: 18px;
    background-color: white;
    box-shadow: 0.2px 0.2px 3px 0px;
  }
  
  .login-wrapper{
    background-color: #f4f4f6;
    height: 100vh;
    padding-top: 10%;
  }
  
  @media (max-width:768px) {
    .login-container{
      width:80% !important;
    } 
  
    .login-wrapper{
      padding-top: 30% !important;
    }
  }