.App {
  text-align: center;
}

h1 {
  font-family: 'Bigelow Rules';
  font-size: 72px;
}
.dashboard-div-top {
    height: 20vh;
    width: 100vw;
    padding-top: 25px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
}

.dashboard-div-bottom {
  height: 60vh;
  width: 90vw;
  padding-top: 30px;
  padding-left: 25px;
  padding-right: 25px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  align-content: center;
}