@import url('./asset/css/grid.css');
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css');
@import url("../node_modules/react-crud-icons/dist/css/react-crud-icons.css");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eee;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.card-top {
  padding: 15px;
  margin-bottom: 15px;
  background-color: white;
  box-shadow: 0 0 0 rgba(0,0,0,0.3);
  min-height: 150px;
  text-align: left;
  border-radius: .75rem;
}

.completedTask{
  text-decoration: line-through;
}
